.inputPlaceholder::placeholder{
    color:black;
    opacity:1;
}

.list-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    /* transform: translateY(-100%); */

  }
  
.list-container.expanded {
    max-height: 250px;
    transition: max-height 0.3s ease;
    transform: translateY(0);

}