.dropdown {
    position: relative;
    cursor: pointer;
  }
  
  .menu {
    position: absolute;
  
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
  background-color: white;
    border: 1px solid grey;
    width: 95%;
    margin-left: 5px;
    border-radius:5px;
    z-index:9999;
  }
  
  .menu > li {
    margin: 0;
    
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .menu >li:last-child{
    border:none
  }
  .menu > li:hover {
    background-color: lightgray;
    
  }
  
  .menu > li > div {
    width: 100%;
    height: 100%;
    text-align: left;
    display: inline-grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    background: none;
    color: inherit;
    border: none;
    padding: 5px;
    margin: 0;
    font: inherit;
    cursor: pointer;
  }



.left-item{
    justify-self: baseline;
}
.textColor{
    color: rgb(50, 50, 50);
}