.App {
  margin-inline: auto;
  width:900px
}
.topLayout{
  display: inline-grid;
  grid-template-columns: 420px 153px 180px 144px;
  align-items: center;
  justify-items: center;
  padding-bottom: 30px;
  position: fixed;
  background-color: white;
  z-index: 999;
}


.mainLayout{
  display: inline-grid;
  grid-template-columns: 233px 675px;
  
}
.leftLayout{
  padding:13.5px;
  position:fixed;
  background-color: white;
  z-index:1;
}
.rightLayout{
  border-left: 0.5px solid #cccccc60;
  
  
}
