.App {
  margin-inline: auto;
  width:900px
}
.topLayout{
  display: inline-grid;
  grid-template-columns: 420px 153px 180px 144px;
  align-items: center;
  justify-items: center;
  padding-bottom: 30px;
}

.mainLayout{
  display: inline-grid;
  grid-template-columns: 225px 675px;
 
}

.leftLayout{
  border-right: 1px solid grey;
  padding:6%
}
